<div>
  <link href="./gallery-card.css" rel="stylesheet" />
  <div class="gallery-card-gallery-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1616299908398-9af1134ad522?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHBlc3RvfGVufDB8fHx8MTY2ODI2NjYwOQ&ixlib=rb-4.0.3&h=1500"
      class="gallery-card-image"
    />
    <h2 class="gallery-card-text">
      <span>Pesto Pasta</span>
      <br />
    </h2>
    <span class="gallery-card-text3">
      <span>Lorem ipsum dolor sit amet</span>
    </span>
  </div>
</div>
