<div>
  <link href="./gallery-card1.css" rel="stylesheet" />
  <div class="gallery-card1-gallery-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHBhc3RhfGVufDB8fHx8MTY2ODI2NjM4OQ&ixlib=rb-4.0.3&w=1500"
      class="gallery-card1-image"
    />
    <h2 class="gallery-card1-text"><span>Penne Alla Vodka</span></h2>
    <span class="gallery-card1-text1">
      <span>Lorem ipsum dolor sit amet</span>
    </span>
  </div>
</div>
